<div class="site-top">
	<ul class="site-links">
		{% for item in site.menu %}
		<li class="site-menu-item">
			<a class="site-menu-item-url" href="{{ item.url }}">{{ item.title }}</a>
		</li>
		{% endfor %}
	</ul>

	<ul class="social-links" data-stellar-ratio="0.1">
		{% for social in site.social %}
		<li class="social-list-item">
			<a class="social-list-item-url" href="{{ social.url }}" target="_blank" title="{{ social.desc }}">
				<span class="genericon genericon-{{ social.icon }}"></span>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
