<div class="site-top">
	<ul class="site-links">
		{% for item in site.menu %}
		<li class="site-menu-item">
			<a class="site-menu-item-url" href="{{ item.url }}">{{ item.title }}</a>
		</li>
		{% endfor %}

		<li class="email-signup">
			<!-- Begin MailChimp Signup Form -->
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="//gopayattention.us15.list-manage.com/subscribe/post?u=46aba2a56661c73d244d92df6&amp;id=5ca6f006dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_46aba2a56661c73d244d92df6_5ca6f006dd" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>

			<!--End mc_embed_signup-->
		</li>
	</ul>

	<ul class="social-links" data-stellar-ratio="0.1">
		{% for social in site.social %}
		<li class="social-list-item">
			<a class="social-list-item-url" href="{{ social.url }}" target="_blank" title="{{ social.desc }}">
				<span class="genericon genericon-{{ social.icon }}"></span>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
